<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
    <title>Create A Movie</title>
</head>
<body class="container">

    <div class="container">
        <form action="/createMovie" method="post">
            <div class="form-group row">
                <label for="movieTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="movieTitle" name="movieTitle" />
                </div>
            </div>
            <div class="form-group row">
                <label for="movieGenre" class="col-sm-2 col-form-label">Genre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="movieGenre" name="movieGenre" />
                </div>
            </div>
            <div class="form-group row">
                <label for="movieLink" class="col-sm-2 col-form-label">IMDB URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="movieLink" name="movieLink" />
                </div>
            </div>
            <div class="form-group row">
                <label for="movieRelease" class="col-sm-2 col-form-label">Release Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="movieRelease" name="movieRelease" />
                </div>
            </div>
            <div class="form-group row">
                <label for="movieImage" class="col-sm-2 col-form-label">Image URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="movieImage" name="movieImage" />
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Create Movie" />
        </form>
    </div>

</body>
</html>